# Data Preprocessing Template

Covering the more significant steps:

* Import libraries
* Import data
 * Import data from csv, json, excel and html
 * Import data from SQL query
 * Create a Data Frame from list of lists, list of dictionaries and array
* Data visualization
 * Basic information
 * Data selection
* Clean Data
 * Outliers
 * Duplicates
 * Strip spaces
* Taking care of missing data
 * Count Nan / Null values
 * Delete
 * Replace
* Encoding the categorical data 
 * Replace manually
 * Label Encoding
 * One Hot Encoder
* Splitting the dataset
* Feature Scaling

For further information, please read the reference guidelines for the pandas API: https://pandas.pydata.org/docs/reference/index.html#api

## -- Import libraries --

### Import the most important libraries at the beginning
As a first step, we need to import the common libraries, for further steps, other libraries would be added in the correspondent cell or added in this section, source of libraries to use:
https://www.dataquest.io/blog/15-python-libraries-for-data-science/

In [ ]:
#arrays
import numpy as np

In [ ]:
#visualization 
import matplotlib.pyplot as plt

In [ ]:
#dataframes
import pandas as pd

## -- Import data --

### Import data from csv, json, excel and html
How to import data from different formats, sources and full examples:
import json and html: https://www.datacamp.com/community/tutorials/importing-data-into-pandas

In [ ]:
#import data from csv file
df = pd.read_csv('Datapath.csv') 
print(df)

In [ ]:
#import data from json file
df = pd.read_json('Datapath.json') 
print(df)

In [ ]:
#import data from excel file
df = pd.read_excel('Datapath.xlsx')
print(df)

In [ ]:
#import data from excel sheet
df = pd.read_excel('Datapath.xlsx', sheet_name='your Excel sheet name')
print(df)

In [ ]:
#import data from html
import requests 
url = 'https://www.path.com/' 
path_url = requests.get(url) 
df = pd.read_html(path_url.text)
print(df)

### Import data from SQL query
How to import data using SQL queries, for the full example:
https://datatofish.com/sql-to-pandas-dataframe/

In [ ]:
#import data from SQL
import sqlite3
conn = sqlite3.connect('test_database') 
sql_query = pd.read_sql_query ('''SELECT * FROM products ''', conn)
df = pd.DataFrame(sql_query, columns = ['column1', 'column2', 'column3'])
print(df)

### Create a Data Frame from list of lists, list of dictionaries and array
Create a Data Frame from other pandas or numpy objects, source:
https://www.w3resource.com/pandas/dataframe/dataframe.php

In [ ]:
#from list of lists pd.DataFrame(data, index, columns, dtype)
df = pd.DataFrame([['María', 18], ['Luis', 22], ['Carmen', 20]], columns=['Nombre', 'Edad'])

In [ ]:
#from list of dictionaries 1 pd.DataFrame(data, index, columns, dtype)
df = pd.DataFrame([{'Nombre':'María', 'Edad':18}, {'Nombre':'Luis', 'Edad':22}, {'Nombre':'Carmen'}])

In [ ]:
#from list of dictionaries 2 pd.DataFrame(data, index, columns, dtype)
df = pd.DataFrame({'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]})

In [ ]:
#from array pd.DataFrame(data, index, columns, dtype)
df = pd.DataFrame(np.random.randn(4, 3), columns=['a', 'b', 'c'])

## -- Data visualization --

### Basic information
In this section we can visualize basic information from the data frame imported to have a clear vision

In [ ]:
#print percentile, mean, std
Print(df.describe())

In [ ]:
#print basic information 
df.info()

In [ ]:
#print number of columns and rows
df.shape

In [ ]:
#print names of columns
df.columns

In [ ]:
#print names of rows
df.index

In [ ]:
#print data types
df.dtypes

In [ ]:
#print n first rows (by default 5 df.head())
df.head(n)

In [ ]:
#print n last rows (by default 5 df.tail())
df.tail(n)

In [ ]:
#number of elements of every value
df["column name"].value_counts()

### Data selection
Select parts of the Data Frame, sources and entire examples:
loc: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html
iloc: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html

In [ ]:
#elements by number of rows and columns
print(df.iloc[num_row,num_column])

In [ ]:
#elements in rows and columns (':' means from the beginning to (by default to the end))
print(df.loc[2, 'column1']) #example 1
print(df.loc[:3, ('column1','column2')]) #example 2

In [ ]:
#elements of row number
print(df.iloc[num_row]

In [ ]:
#elements of column name
print(df['column name'])

#### Assign elements to a variable

In [ ]:
#all rows, all columns except the last one
X = dataset.iloc[:, :-1].values
print(X)

In [ ]:
#all rows, last column
y = dataset.iloc[:, -1].values
print(y)

In [ ]:
#columns by data type
obj_df = df.select_dtypes(include=['object']).copy()

## -- Clean Data --
In this section we will take care of anomalies in the data set

### Outliers
source and full examples:
https://www.analyticsvidhya.com/blog/2021/06/how-to-clean-data-in-python-for-machine-learning/

In [ ]:
#first it is recommended to plot the column to visualize the outliers
df.colummn.plot(kind='box', figsize=(12, 8))
plt.show()

In [ ]:
#remove outliers
df = df.loc[df.column < 9999]

### Duplicates
source: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html

In [ ]:
#remove duplicated values
df.drop_duplicates(subset=name, inplace=True)

### Strip spaces
source: https://www.datasciencemadesimple.com/strip-space-column-pandas-dataframe-leading-trailing-2/

In [ ]:
#strip leading and trailing spaces
df['column'] = df['column'].str.strip()
print (df)

In [ ]:
#strip only leading space
df['column'] = df['column'].str.lstrip()
print (df)

In [ ]:
#strip only trailing space
df['column'] = df['column'].str.rstrip()
print (df)

In [ ]:
#strip all spaces
df['column'] = df['solumn'].str.replace(" ","")
print (df)

## -- Taking care of missing values --
In this section we will cover how to deal with missing values, as we can't compute ML models with this kind of values
Source: https://www.analyticsvidhya.com/blog/2021/05/dealing-with-missing-values-in-python-a-complete-guide/

### Count Nan / Null values

In [ ]:
#count Nan values
print(df.isna().sum())

In [ ]:
#count Null values
print(df.isnull().sum())

In [ ]:
#see null values
df[df.isnull().any(axis=1)]

### Delete

In [ ]:
#delete columns
df = df.drop(['column1','column2'], axis=1, inplace=True) #axis=1 for columns, axis=0 for rows (by default)

In [ ]:
#delete rows
df = df.drop([1,2,3])

In [ ]:
#delete rows with Nan values
df = df.dropna() #by default axis=0

In [ ]:
#delete columns with Nan values
df = df.dropna(axis=1)

### Replace

In [ ]:
#replace Nan values by a number n
df.fillna(n)

In [ ]:
#replace nan value by a category
obj_df = obj_df.fillna({"num_doors": "four"})

In [ ]:
#replace Nan values by mean of the column option 1
df['column']=df['column'].fillna(df['column'].mean())

In [ ]:
#replace Nan values by mean of the column option 2
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(X[:, 1:3])
X[:, 1:3] = imputer.transform(X[:, 1:3])

In [ ]:
#replace Nan values by median
dataset["column"] = dataset["column"].replace(np.NaN, dataset["column"].median())

In [ ]:
#replace Nan values by mode
import statistics
dataset["column"] = dataset["column"].replace(np.NaN, statistics.mode(dataset["column"]))

In [ ]:
#replace by Linear Interpolation
dataset["column"] = dataset["column"].interpolate(method='linear', limit_direction='forward', axis=0)

In [ ]:
#replace by last observation carried forward LOCF
dataset["column"] = dataset["column"].fillna(method ='ffill')

#### Replace using Regression

In [ ]:
#filling missing values with regression model
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
df.head()
testdf = df[df['column'].isnull()==True]
traindf = df[df['column'].isnull()==False]
y = traindf['column']
traindf.drop('column',axis=1,inplace=True)
lr.fit(traindf,y)
testdf.drop('column',axis=1,inplace=True)
pred = lr.predict(testdf)
testdf['column']= pred

## -- Encoding the categorical data --
In this section we transform the categorical data in numbers in order to operate with ML models, source:
https://pbpython.com/categorical-encoding.html

### Replace manually

In [ ]:
#using replace and a dictionary
cleanup_nums = {"column1": {"value1": 4, "value2": 2},
                "column2": {"value1": 4, "value2": 6, "value3": 5, "value4": 8}}
df = df.replace(cleanup_nums) #we replace using the replace function and adding the dictionary

### Label Encoding

In [ ]:
#Label encoding
obj_df["column1"] = obj_df["column1"].astype('category') #change the type to category
obj_df["column1_cat"] = obj_df["column1"].cat.codes #apply cat codes

### One Hot Encoder

#### Encoding the independent variable
before use this command, be sure to assign a portion of the data frame to X (portion with independent variables)

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

#### Encoding the dependent variable
before use this command, be sure to assign a portion of the data frame to y (portion with the dependent variable)

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)

## -- Splitting the dataset --
Before fit the data to the ML supervised models, we need to split the data set in training set and test set, normally 20% for the test set and 80% for the training set (you can adjust the quantity), source and full examples: https://realpython.com/train-test-split-python-data/

In [ ]:
#Split the data set in training set and test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 1) #20% of the data to the test set

## -- Feature Scaling --
Finally and before apply ML models, sometimes (especially when we have data with highly varying magnitudes or values or units) we need to standardize the independent features present in the data in a fixed range, source and complete examples:
https://www.analyticsvidhya.com/blog/2021/05/feature-scaling-techniques-in-python-a-complete-guide/

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train[:, 3:] = sc.fit_transform(X_train[:, 3:])
X_test[:, 3:] = sc.transform(X_test[:, 3:])